<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://localhost:8080/static/css/styles.css" />
    </head>    
    <body>
        <h1>{{.PageTitle}}</h1>
        <ul>
            {{range .Todos}}
                {{if .Done}}
                    <li class="done">{{.Title}}</li>
                {{else}}
                    <li>{{.Title}}</li>
                {{end}}
            {{end}}
        </ul>
        <img src="http://localhost:8080/static/img/Khini.jpg" alt="Girl in a jacket" width="500" height="600"/> 
    </body>
</html>

